{
  "presets": [
    ["latest", {
      "es2015": {
        "loose": true
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import", {
      "style": "css",
      "libraryName": "antd-mobile"
      }
    ]
  ]
}
